#div1{
    font-style: normal;
}

#div2{
    font-style: normal;
}

#div3{
    font-style: normal;
}

#div4{
    font-style: normal;
}

#div5{
    font-style: normal;
}

#div6{
    font-style: normal;
}

#div7{
    font-style: normal;
}

h3{
    align-items: center;
}